//Breakpoints
$min-laptop: 768px;

//Fonts
$font-xxx-large: 40px;
$font-xx-large: 30px;
$font-x-large: 20px;
$font-large: 18px;
$font-medium: 16px;
$font-small: 14px;
$font-x-small: 12px;

// Colors
$grey: rgb(107, 107, 107);